<html>
    <body>
        <form action="/insertproduct" method="post">
            product id: <input type="text" name="pid" id="pid"><br>
            product Name: <input type="text" name="pname" id="pname"><br>
            product price: <input type="text" name="price" id="price"><br>
            <button type="submit" name="btn" id="btn" value="btn">Add product</button>
        </form>
    </body>
</html>
